<!-- index.ejs -->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Welcome</title>
</head>
<body>
    <h1>Selamat Datang!</h1>
    <p>Silakan pilih opsi untuk masuk atau mendaftar.</p>
    
    <div>
        <a href="/api/v1/auth/login">Login</a>
        <a href="/api/v1/auth/register">Register</a>
    </div>
</body>
</html>
