<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Reset Password</title>
</head>
<body>
    <h2>Reset Your Password</h2>
    <!-- Form untuk mengganti password -->
    <form action="/api/v1/auth/reset-password?token=<%= token %>" method="post">
        <!-- Input tersembunyi untuk menyimpan token -->
        <input type="hidden" id="token" name="token" value="<%= token %>">
        <!-- Input untuk password baru -->
        <input type="password" id="newPassword" name="newPassword" placeholder="Enter New Password">
        <button type="submit" onclick="handleSubmit(event)">Reset Password</button>
    </form>
    <script>
        const handleSubmit = async (event) => {
            event.preventDefault();
            const newPassword = document.getElementById('newPassword').value;
            const token = document.getElementById('token').value;

            try {
                const response = await fetch(`/api/v1/auth/reset-password?token=${token}`, {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json',
                    },
                    body: JSON.stringify({ newPassword }),
                });

                
                const data = await response.json();
                console.log(data);
                alert(data.message); // Tampilkan pesan hasil dari server
            } catch (error) {
                console.error('Error:', error);
            }
        };
    </script>
</body>
</html>
