<!-- reset-password-page.ejs -->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Reset Password</title>
</head>
<body>
    <h2>Reset Your Password</h2>
    <!-- Form untuk mengganti password -->
    <form action="/api/v1/auth/reset-password" method="POST">
        <input type="hidden" name="token" value="<%= token %>"> <!-- Token dikirim dalam input hidden -->
        <input type="password" name="newPassword" placeholder="Enter New Password">
        <button type="submit">Reset Password</button>
    </form>
</body>
</html>
